@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"); */
@font-face {
  font-family: Fira Code;
  src: url(/FiraCode.ttf) format("ttf");
}
@layer base {
  html {
    font-family: "Fira Code", monospace;
  }
}

.text-link {
  @apply font-semibold leading-6 text-indigo-600 hover:text-indigo-500;
}

.my-indicator {
  opacity: 0;
  width: 0px;
  transition: opacity width 500ms ease-in;
}
.htmx-request .my-indicator {
  opacity: 1;
  width: auto;
}
.htmx-request.my-indicator {
  opacity: 1;
  width: auto;
}

/* .my-indicator{
  display:none;
}
.htmx-request .my-indicator{
  display:inline;
}
.htmx-request.my-indicator{
  display:inline;
} */
