@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"); */
@font-face {
  font-family: Fira Code;
  src: url(/FiraCode.ttf) format("ttf");
}
@layer base {
  html {
    font-family: "Fira Code", monospace;
  }
}

.text-link {
  @apply font-semibold leading-6 text-indigo-600 hover:text-indigo-500;
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}
